<div id="top-buttons">
	<ul>
		{% if page.lang-ref != null %}
			{% for collection in site.collections %}
				{% assign name = collection.label %}
				{% assign languages = site.[name] | where: "lang-ref", page.lang-ref | sort: "lang" %}
				{% if languages.size > 1 %}
					{% for item in languages %}
						{% if item.lang == page.lang %}
							<li><a href="{{ item.url | relative_url }}"><b>{{ site.data.translations.[item.lang] }}</b></a></li>
						{% else %}
							<li><a href="{{ item.url | relative_url }}">{{ site.data.translations.[item.lang] }}</a></li>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		{% endif %}
	</ul>
	{% for element in site.data.nav.elements %}
		{% if element.buttons %}
			{% for item in element.buttons %}
	<div class="join">
		<a href="{{ item.button.url.[page.lang] | default: item.button.url.default | relative_url }}">{{ item.button.[page.lang] | default: item.button.en | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</a>
	</div>
			{% endfor %}
		{% endif %}
	{% endfor %}
</div>
<div style="clear: both;"></div>
